@import "tailwindcss";

html[data-theme="light"] {
  --text-color: #000000;
  --stroke-color: #00000080;
  --surface-color: #0000000d;
  --surface-hover-color: #00000005;
  --highlight-color: #0000001a;

  --bg-desktop-image: url("/bg-desktop-light.png");
  --bg-mobile-image: url("/bg-mobile-light.png");
}

html[data-theme="dark"] {
  --text-color: #ffffff;
  --stroke-color: #ffffff80;
  --surface-color: #ffffff1a;
  --surface-hover-color: #ffffff0d;
  --highlight-color: #ffffff33;

  --bg-desktop-image: url("/bg-desktop-dark.png");
  --bg-mobile-image: url("/bg-mobile-dark.png");
}

@theme {
  --default-font-family: "Inter", sans-serif;

  --text-sm: 14px;
  --text-sm--line-height: 24px;
  --text-sm--font-weight: 400;

  --text-md: 16px;
  --text-md--line-height: 24px;
  --text-md--font-weight: 500;

  --color-text: var(--text-color);
  --color-stroke: var(--stroke-color);
  --color-surface: var(--surface-color);
  --color-surface-hover: var(--surface-hover-color);
  --color-highlight: var(--highlight-color);

  --background-image-desktop: var(--bg-desktop-image);
  --background-image-mobile: var(--bg-mobile-image);

  --animate-rotate: rotate 3s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
